[flake8]
max-line-length = 120
# For compatibility with Black code formatter
extend-ignore = E203,W503
# Allow extra blank lines in test files
per-file-ignores =
    test/**: E221, E222
exclude =
    __pycache__,
    .venv
