[tool.black]
line-length = 120
target-version = ["py312"]
include = '\.py$'

[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 3
include_trailing_comma = true

[tool.bandit]
exclude_dirs = ["*/test/*"]
